/*
Project Name: Visit California-State of Play
Author: Shannon Orcutt & Trevor Lazarus
The Foundry @ Time Inc.
*/
html, body {
	font-size: 10px;
}

body {
	font-family: 'Brandon Grotesque', sans-serif;
	overflow-x: hidden;
}

/* MAIN HERO */

.main-hero {
	background-image: url("../images/FPO-main-southern-hero-bg.jpg");
	background-size: cover;
	text-align: center;
	position: relative;
}

/* Title SVG Styles */

.title-trtmnt {
	position:absolute;
	top:50%;
	left:50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width:875px;
	margin-top:-2%;
	-webkit-filter: drop-shadow(0px 3px 2px rgba(0,0,0,0.12));
	filter: drop-shadow(0px 3px 2px rgba(0,0,0,0.12));
}
.title-trtmnt .state {
	font-size:64px;
	font-weight:900;
	text-transform:uppercase;
}
.title-trtmnt .of {
	font-size:28.7225px;
	font-weight:300;
}
.title-trtmnt .play {
	font-size:66px;
	letter-spacing:7px;
	text-transform:uppercase;
	font-weight:900;
}
.title-trtmnt .southern {
	fill:#EE0077;
	font-size:22px;
	letter-spacing:1px;
	text-transform:uppercase;
	font-weight:900;
}
.title-trtmnt .california {
	fill:#EE0077;
	font-weight:300;
	font-size:24px;
	letter-spacing:1.5px;
	text-transform:uppercase;
}
.title-trtmnt .dek {
	font-weight:300;
	font-size:17px;
}
.title-trtmnt .bg-diamond {fill:#FFFFFF;}
.title-trtmnt .st1{fill:none;stroke:#EE0077;stroke-width:0.75;stroke-miterlimit:10;}
.title-trtmnt .st6{fill:none;stroke:#05BBFF;stroke-width:2.5;stroke-miterlimit:10;}
.title-trtmnt .txt-bx{fill:none;}

/* DROPDOWN */

/* whole nav has bonus 1px height*/
.sticky-nav {
	position: fixed;
	top: 0;
	width: 100%;
	height: 44px;
	z-index: 5000!important;
	box-shadow: 0 7px 8px rgba(0,0,0,.12);
	text-align: center;
	font-family: 'Brandon Grotesque', sans-serif;
}

.sticky-nav:after {
	content: "";
	display: table;
	clear: both;
}

.dropdown {
	width: 33.28%;
	display: inline-block;
	float: left;
}

.sticky-nav .btn {
	width: 100%;
	border-radius: 0;
	border: none;
	background-color: rgba(5,187,255,.8);
	margin: 0;
	padding: 0;
	font-family: 'Brandon Grotesque', sans-serif;
	font-weight: 900;
	font-size: 20px;
	line-height: 44px;
}

.sticky-nav .btn:hover {
	background-attachment: none;
	color: rgba(255,255,255,1);
}

.nav-explore {
	font-weight: 500;
	font-size: 15px;
	letter-spacing: .5em;
}

.nav-rule {
	width: .08%;
	height: 45px;
	display: inline-block;
	float: left;
	background-color: rgba(255,255,255,1);
}

.dropdown:hover {
	color: rgba(255,255,255,1);
}

.dropdown:hover .caret {
	visibility: hidden;
}

.dropdown:hover .dropdown-menu {
	display: block;
}

.dropdown-menu {
	width: 100%;
	margin: 0;
	border-radius: 0;
	border: none;
	background-color: rgba(5,187,255,1);
	color: rgba(255,255,255,1);
	text-align: center;
	font-weight: 900;
	font-size: 20px;
}

.dropdown-menu li.btn {
	margin-top: -83px;
	background-color: rgba(5,187,255,1);
	height: 41px;
	padding: 0px;
}

.invisible-hover {
	background-color: rgba(0,0,0,0);
	height: 4px;
	margin-top: -29px
}

.dropdown-menu li {
	padding: 15px;
}

.dropdown-menu li a {
	color: rgba(255,255,255,1);
	white-space:normal;
}

.dropdown-menu li a:hover {
	color: rgba(0,0,0,1);
	background-color: rgba(5,187,255,0);
}

.dropdown-menu .blogger-circle {
	width: 50px;
	height: 50px;
	margin: 0 auto;
	background-color: black;
/*	background-image: url("../images/FPO_NCA.jpg");
	background-size: 100%;*/
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	box-shadow: 0px 0px 0px 2px rgba(255,255,255,1);
}

.dropdown-menu li .nav-blogger {
	font-weight: 700;
	font-size: 22px;
}

.dropdown-menu li .blogger-name {
	color: rgba(0,0,0,1);
	font-weight: 300;
	font-size: 15px;
}

.dropdown-menu .divider {
	box-shadow: 0px 10px 6px -5px rgba(0,0,0,.1);
	max-width: 80%;
	margin: -30px 10% 0px 10%;
	background-color: rgba(5,187,255,0);
}

.nav-progress-bar {
	position: absolute;
	bottom: -1px;
	width: 100%;
	height: 4px;
	background-color: rgba(235,4,120,1);
}

.nav-status-bar {
	position: absolute;
	z-index: +1;
	bottom: -1px;
	width: 0%;
	height: 4px;
	background-color: rgba(250,192,221,1);
	transition: width 1s ease-in-out;
}

.status-width-0 {
	width: 0%;
}

.status-width-1 {
	width: 6.66%;
}

.status-width-2 {
	width: 13.33%;
}

.status-width-3 {
	width: 20%;
}

.status-width-4 {
	width: 26.66%;
}

.status-width-5 {
	width: 33.33%;
}

.status-width-6 {
	width: 40%;
}

.status-width-7 {
	width: 46.66%;
}

.status-width-8 {
	width: 53.33%;
}

.status-width-9 {
	width: 60%;
}

.status-width-10 {
	width: 66.72%;
}

.status-width-11 {
	width: 73.33%;
}

.status-width-12 {
	width: 80%;
}

.status-width-13 {
	width: 86.66%;
}

.status-width-14 {
	width: 93.33%;
}

.status-width-15 {
	width: 100%;
}


/* TOC */

.toc .row {
	height: 100%;
	border-bottom: 4px solid rgba(235,4,120,1);
	background-color: rgba(241,251,255,1);
}

.toc .row .col-md-4 {
	background-color: rgba(241,251,255,1);
	background-size: 100%;
	background-repeat: no-repeat;
	transition: all 1s ease;
	margin-top: -112px;
}

.toc .row .col-md-4:hover {
	background-color: rgba(255,255,255,1);
}

.toc .row .toc-nca {
	background-image: url("../images/Nav/770x388/GettyImages-517877952_screen.png");
}

.toc .row .toc-nca:hover {
	background-image: url("../images/Nav/770x388/GettyImages-517877952.png");
}

.toc .row .toc-cca {
	background-image: url("../images/Nav/770x388/GettyImages-184084521_screen.png");
}

.toc .row .toc-cca:hover {
	background-image: url("../images/Nav/770x388/GettyImages-184084521.png");
}
.toc .row .toc-sca {
	background-image: url("../images/Nav/770x388/GettyImages-152627362_screen.png");
}

.toc .row .toc-sca:hover {
	background-image: url("../images/Nav/770x388/GettyImages-152627362.png");
}

ul.toc-menu {
	text-align: center;
	position: relative;
	z-index: +1;
}

ul.toc-menu li {
	display: block;
	font-size: 20px;
}

ul.toc-menu li a {
	display: block;
	padding: 15px 0;
	margin: 15px 0 20px 0;
	color: rgba(0,0,0,1);
	text-decoration: none;
	line-height: 26px;
}

ul.toc-menu li a:hover {
	color: rgba(235,4,120,1);
	text-decoration: none;
}

ul.toc-menu .nav-explore {
	margin-top: 20px;
	color: rgba(255,255,255,1);
	text-shadow: 0px 2px 6px rgba(0,0,0,.55);
}
ul.toc-menu .toc-region {
	box-shadow: 0px 10px 6px -5px rgba(0,0,0,.1);
	width: 50%;
	margin: 10px 25%;
	padding: 10px;
	background-color: rgba(255,255,255,1);
	font-weight: 900;
	font-size: 20px;
	color: rgba(5,187,255,1);
}
ul.toc-menu .blogger-circle {
	width: 150px;
	height: 150px;
	margin: 0 auto;
	background-color: black;
/*	background-image: url("../images/FPO_NCA.jpg");
	background-size: 100%;*/
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	box-shadow: 0px 0px 0px 8px rgba(235,4,120,1);
}
.toc-with {
	color: rgba(235,4,120,1);
	font-weight: 300;
	font-size: 20px;
	margin-top: -10px;
}
ul.toc-menu .toc-blogger a{
	margin: 20px 0px 0px 0px;
	font-weight: 500;
	font-size: 40px;
	padding-bottom: 0px;
}

.toc-plus {
	color: rgba(235,4,120,1);
	font-weight: 500;
	font-size: 30px;
	margin-top: 0px;
	padding-top: 10px;
}

ul.toc-menu .divider {
	box-shadow: 0px 10px 10px 0px rgba(0,0,0,.1);
	display: block;
	z-index: +500;
	max-width: 80%;
	height: 10px;
	margin: -30px 10% 0px 10%;
	background-color: rgba(241,251,255,0);
}

/* General Styles */

h1 {
	text-transform: uppercase;
	font-size: 52px;
	line-height: 49px;
	font-weight: 600;
	text-align: center;
}
h2 {
	font-size: 21px;
	font-weight: 400;
	line-height: 30px;
	color: #eb0478;
	padding: 16px 0 60px;
	text-align: center;
}
h3 {
	font-size: 32px;
	color: #eb0478;
	font-weight: 500;
	line-height: 40px;
	padding-bottom: 20px;
}
h4 {
	font: italic 700 23px/25px "abril-display",sans-serif;
	color: #05bbff;
}
h5 {
	color: #1f1f1f;
	font-size: 21px;
	font-weight: 600;
	padding-bottom: 10px;
}
h6 {
	color: #eb0478;
	text-transform: uppercase;
	font-size: 17px;
	font-weight: 400;
	padding-bottom: 18px;
}
p {
	font-size: 21px;
	line-height: 32px;
	padding: 0 0 38px 0;
	font-weight: 300;
	color: #524F4F;
}
img {
	width: 100%;
}
.italc {
	font-style: italic;
}
.bold {
	font-weight: 600;
}
.container-fluid.article {
	width: 90%;
	max-width: 1400px;
}
.bg-img-container-wrap {
	padding-bottom: 60px;
	position: relative;
}
a:link,
a:active,
a:visited {
	text-decoration: none;
}
a,
a:hover {
	color: #eb0478;
}
.col-md-8 {
	text-align: center;
}
.col-md-8 p {
	text-align: center;
	max-width: 900px;
	display: inline-block;
	padding-bottom: 0;
}

/* Region hero */

.region-hero {
	background-size: cover;
	position: relative;
	overflow: hidden;
}
.region-hero video {
	position: absolute;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: 50!important;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
}

.vca-hero-logo {
	position: absolute;
	top: 25px;
	right: 25px;
	width: 10%;
	z-index: 200;
 }

/* Region Hero SVG Styles */

.region-hero-title {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%,-50%);
	width: 875px;
	z-index: 100!important;
}
.region-hero-title .region-loc {
	font-weight: 900;
	font-size:67.8428px;
	letter-spacing:9px;
	stroke: none;
	text-transform: uppercase;
	fill: #FFFFFF;
	text-align: center;
}
.region-hero-title .state {
	font-weight: 300;
	text-transform: uppercase;
	font-size:62px;
	letter-spacing:8px;
	fill: #FFFFFF;
}
.region-hero-title .shad {
	fill: #000000;
	filter: url(#pictureFilter);
	opacity: .8;
}
.region-hero-title .diamond {
	fill:none;
	stroke:#FFFFFF;
	stroke-width:1.5;
	stroke-miterlimit:10;
}
.region-hero-title .diamond.shad {
	stroke:#000000;
}

/* Blog Post Styles */

.bg-img-container-wrap {
	background-size: 100% auto;
	background-repeat: no-repeat;
}
.bg-img-container-wrap.blog {
	/*max-height: 3000px;*/
	overflow: hidden;
	position: relative;
	/*margin-bottom: 80px;*/
}
a.read-more {
  font-size: 40px;
  position: absolute;
  display: block;
  bottom: 60px;
  left: 0;
  right: 0;
  width: 90%;
  max-width: 1400px;
	margin: 0 auto;
	padding-left: 15px;
	margin-bottom: -5px;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 500;
	letter-spacing: .5px;
}
.container-fluid.article.blogger-post h1,
.container-fluid.article.blogger-post h2 {
	text-align: left;
}
.container-fluid.article.blogger-post h2 {
	font-size: 22px;
}
.container-fluid.article.blogger-post img {
	box-shadow: 2px 4px 12px rgba(0,0,0,.2);
	margin-bottom: 40px;
}
.container-fluid.article.blogger-post .col-md-offset-1 {
	margin-left: 4%;
}
.container-fluid.article.blogger-post .sect-break {
	/*margin-top: -200px;*/
	margin-top: -30%;
}
.container-fluid.article.blogger-post .under {
	position: relative;
	z-index: 1!important;
}
.container-fluid.article.blogger-post .over {
	position: relative;
	z-index: 100!important;
}
.container-fluid.article.blogger-post .r-rail-above {
	margin-left: -4%;
}
.container-fluid.article.blogger-post .r-rail-above .caption {
	margin-left: 8%;
}
/* Blogger Profile Box */

.container-fluid.article .blogger-profile-wrap {
	width: 100%;
	background-color: #fff;
	height: 550px;
	max-width: 850px;
	margin-bottom: 70px;
	box-shadow: 2px 4px 12px rgba(0,0,0,.2);
	border: 2px solid #05bbff;
}
.container-fluid.article .blogger-profile-wrap .left-quadrant {
	width: 65%;
	height: 100%;
	position: relative;
	float: left;
	background-image: url("../images/brandi/Brandi-profile.jpg");
	background-size: auto 100%;
	background-position: center;
}
.container-fluid.article .blogger-profile-wrap .right-quadrant {
	width: 35%;
	height: 100%;
	position: relative;
	float: left;
	background-image: url("../images/fake-border.jpg");
	background-repeat: repeat-y;
	background-position: top left; 
}
.container-fluid.article .blogger-profile-wrap .right-quadrant .btm-row {
	background-image: url("../images/fake-border.jpg");
	background-repeat: repeat-y;
	background-position: left;
}
.container-fluid.article .blogger-profile-wrap .btm-row {
  height: 80px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: #fff;
  border-top: 1px solid #05bbff;
}
.container-fluid.article .blogger-profile-wrap .btm-row h1 {
	font-size: 36px;
	padding-top: 0;
	line-height: 80px;

}

/* Specific Blog Post Styles */

.bg-img-container-wrap#nrthrn-blog-post {
	background-image: url("../images/FPO_Brandi_BG_img.jpg");
}
.bg-img-container-wrap#cntrl-blog-post {
	background-image: url("../images/FPO_Brandi_BG_img.jpg");
}
.bg-img-container-wrap#sthrn-blog-post {
	background-image: url("../images/FPO_Brandi_BG_img.jpg");
}
.bg-img-container-wrap#sthrn-blog-post .col-md-6 p.italc {
	letter-spacing: .25px;
}

/* Arrow Icon SVG Styles */

.arrow circle {
	fill:#FFF845;
}

/* Caption/SVG Styles */

.caption {
	margin-top: -20px;
}

.caption svg {
	width: 25px;
	height: auto;
	float: left;
	margin-bottom: 8px;
	margin-top: 20px;
}
.caption h5 {
	color: #eb0478;
	padding-top: 5px;
}
.caption p {
	clear: both;
	color: #474747;
	font-size: 17px;
	line-height: 19px;
	margin-top: -4px;
	max-width: 400px;
	padding: 0;
}
.caption p.cred,
.caption .inline {
	color: #A9A7A7;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 1px;
	padding-top: 12px;
	margin-bottom: 20px;
}
.caption .inline {
	margin-left: 8px;
}
.caption p.inline {
	padding-top: 0;
	margin-left: 0;
}

/* Section Header Styles*/

.section-marker {
	height:50px;
	width: auto;
	display: block;
	margin: 0 auto -25px;
	position: relative;
	z-index: 50!important;
}
.section-marker .bg-shape{fill:#EB0478;}
.section-marker .letter {
	fill:#FFFFFF;
	font-family:'BrandonGrotesque-BlackItalic';
	letter-spacing:1;
	font-size:13.1307px;
}
.section-marker .line {
	fill:none;
	stroke:#FFFFFF;
	stroke-width:0.25;
	stroke-miterlimit:10;
}
.bg-img-container-wrap.northern {
	background-image: url("../images/section-bg-triangle.jpg");
	background-size: 100% auto;
	background-repeat: no-repeat;
}
.container-fluid.article h1 {
	padding-top: 100px;
}
.container-fluid.article h2 {
	font-size: 21px;
}

/* Article Styles */

.article h1 {
	text-align: center;
}

.article h2 {
	text-align: center;
}

.article .col-md-12 p {
	margin-top: 50px;
	text-align: center;
}

ul.scroll-list {
	position: relative;
	width: 100%;
	height: 100v;
}

[class*="parallax-bg__"] {
	height: 100vh;
	position: relative;
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
    box-shadow: inset 0 0 1em #111;
}
.parallax-bg__empty {
	background-image: none;
	box-shadow: none;

}
.parallax-bg__myers {
	background-image: url(../images/article_roadtrip/alamy_RM_bp6amt.jpg);
}

.parallax-bg__surf {
	background-image: url(../images/surf-skate/surf_1.jpg);
	margin-top: 50px;
	margin-bottom: 0px;
	overflow: hidden;
}

.parallax-bg__skate {
	background-image: url(../images/surf-skate/skate_1.jpg);
	margin-bottom: 0px;
	overflow-y: hidden;
	overflow-x: hidden;
}

.scroll-list-box {
	width: 100%;
	background-color: rgba(255,255,255,.95);
	-webkit-box-shadow: 0 10px 6px -6px rgba(0,0,0,.5);
	   -moz-box-shadow: 0 10px 6px -6px rgba(0,0,0,.5);
	        box-shadow: 0 10px 6px -6px rgba(0,0,0,.5);
	border: 2px solid rgba(5,187,255,1);
	margin-bottom: 50%;
	float: left;
	position: relative;
	z-index: +1;
}

.scroll-list-box:first-of-type {
	margin-top: 50%;
}

.article .col-md-12 .scroll-list-box p {
	clear: both;
	padding: 25px;
	text-align: left;
}

.box-header {
	width: 100%;
	display: inline-block;
	float: left;
	font-weight: 500;
	font-size: 25px;
	text-transform: uppercase;
	letter-spacing: 2px;
	border-bottom: 1px solid rgba(5,187,255,1);
}

.one-line {
	line-height: 50px;
}
.box-header-num {
	float: left;
	font-weight: 900;
	font-size: 50px;
	color: rgba(235,4,120,1);
	padding: 25px;
	margin-right: 25px;
	border-right: 1px solid rgba(5,187,255,1);
}
.box-header .stop-name {
	display: block;
	padding: 25px;
}

.bold {
	font-weight: 700;
}

.vca-logo-color {
	width: 20%;
	padding-top: 20px;
	display: block;
	margin: 0 auto;
}

/* Specific Article Styles */

#article-roadtrip {
	padding-bottom: 0;
	margin-bottom: -25px;
}
#article-roadtrip .container-fluid.article {
	width: 100%;
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 0px;
	margin-right: 0px;
	max-width: none;
}
#article-roadtrip .col-md-8 {
	text-align: center;
}

#list-roadtrip {
	margin-top: 0px;
}

#article-roadtrip .scroll-list .col-md-6 {
	margin-left: 5%;
	margin-right: 5%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: +2;
}

.circle-container {
	position: absolute;
	top: 50%;
	transform: translateY(-50%) !important;
	left: 45%;
	width: 40%;
	z-index: +1;
}

.roadtrip-circle {
	display: block;
	background-size: cover;
	width: 100%;
	height: 0;
	padding: 50% 0;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	box-shadow: 0px 0px 0px 8px rgba(235,4,120,1);
	background-image: url(../images/article_roadtrip/map_1.jpg);
	transition: all .5s ease-in-out;
}

.circle-bg-2 {
	background-image: url(../images/article_roadtrip/map_2.jpg);
}

.circle-bg-3 {
	background-image: url(../images/article_roadtrip/map_3.jpg);
}

.circle-bg-4 {
	background-image: url(../images/article_roadtrip/map_4.jpg);
}

.circle-bg-5 {
	background-image: url(../images/article_roadtrip/map_5.jpg);
}

.circle-bg-6 {
	background-image: url(../images/article_roadtrip/map_6.jpg);
}

.circle-bg-7 {
	background-image: url(../images/article_roadtrip/map_7.jpg);
}

#article-surf-skate {
	padding-bottom: 0;
	margin-bottom: -25px;
}
#article-surf-skate .container-fluid.article {
	width: 100%;
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 0px;
	margin-right: 0px;
	max-width: none;
}
#article-surf-skate .col-md-8 {
	text-align: center;
}

#article-surf-skate .col-md-8.col-md-offset-2 p {
	text-align: center;
	max-width: 900px;
	display: inline-block;
	padding-bottom: 0;
}

#article-surf-skate .box-header {
	display: block;
	padding: 25px;
}

#article-surf-skate .box-header .best-for {
	font-size: 20px;
	font-weight: 900;
	text-transform: none;
}

.list-surf-skate {
	padding-bottom: 30%;	
}

#article-surf-skate .scroll-list .col-md-6 {
	position: absolute;
}

#article-surf-skate .scroll-list-box p {
	padding: 25px;
}

.skate-list {
	position: relative;
	overflow: hidden;
}

.surf-skate-title {
	text-align: center;
	position: absolute;
	top: 45px;
	left: 25%;
	transform: translateX(-50%);
	font-size: 20px;
	color: rgba(5,187,255,1);
}

.surf-skate-title-accent {
	text-transform: capitalize;
	font-weight: 700;
}

.static-list {
	position: fixed;
	overflow-y: scroll;
}

/* Camp CA/Listicle Styles */

#camp-ca .scroll-list-box {
	box-shadow: none;
	margin: 80px 0 0 0;
	padding-bottom: 20px;
	position: relative;
	z-index: 1!important;
}

#camp-ca .scroll-list-box .bold {
	color: #1f1f1f;
}

#camp-ca .scroll-list-box .box-header {
	margin-bottom: 6px;
}

#camp-ca .scroll-list-box .text-wrapper {
	padding: 20px 25px 15px;
	clear: both;
}

#camp-ca .scroll-list-box p {
	
	padding: 0 20px 14px 0;
	font-size: 19px;
	line-height: 28px;
	font-weight: 300;
}

#camp-ca .scroll-list-box .camp-ca-bold {
	font-weight: 600;
}


#camp-ca .col-md-6 img {
	box-shadow: 2px 4px 12px rgba(0,0,0,.2);
	/*margin: -250px 0 40px -10%;*/
	margin-top: -300px;
	margin-bottom: 40px;
	position: relative;
	z-index: 50!important;
}

/* Animation Styles */

.animateblock {
  color: #fff;
  opacity: 0;
  -webkit-transition: all 0.45s ease-in-out;
  -moz-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
  position: relative;
  z-index: 50!important;
}
.animateblock.animated {
  opacity: 1;
}
.animateblock img {
	position: relative;
  z-index: 50!important;
}

/* animation transition styles */
.animateblock.left {
  margin-left: -2%;
}
.animateblock.left.animated {
  margin-left: 12%;
}

.animateblock.right {
  display: block;
  margin-left: 100%;
}
.animateblock.right.animated {
  margin-left: 70%;
}

.animateblock.top {
  display: block;
  width: auto;
  text-align: center;
  margin-top: -25px;
}
.animateblock.top.animated {
  margin-top: 0px;
}

.animateblock.btm {
  display: block;
  width: auto;
  text-align: center;
  margin-top: 45px;
}
.animateblock.btm.animated {
  margin-top: 0;
}
.animateblock.btm.animated img {
	margin-left: -18%;
}

.animateblock.centerleft {
  display: block;
  width: auto;
  text-align: center;
  margin-right: -10%;
}
.animateblock.centerleft.animated {
  margin-right: 0;
}

.animateblock.centerright {
  display: block;
  width: auto;
  text-align: center;
  margin-left: -10%;
}
.animateblock.centerright.animated {
  margin-left: 0;
}

.animateblock.center {
  margin-left: 2%;
}
.animateblock.center.animated {
  margin-left: 42%;
}

.animateblock.size {
  display: block;
  width: 10%;
  text-align: center;
}
.animateblock.size.animated {
  width: 100%;
  height: 100%;
}
.animateblock.size img {
  max-width: 100%;
  height: auto;
}

/* Slideshow/Accordion Styles */

.hideContentWrap {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #05bbff;
	width: 950px;
	margin: 0 auto 1px;
	position: relative;
	text-align: center;
	overflow: hidden;
}
.hideContentWrap .hideContentHeader {
	color: #fff;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 32px;
	letter-spacing: 3px;
	background-color: rgba(5,187,255,.8);
	padding: 25px 25px 22px 25px;
	position:relative;
	z-index: 50!important;
	text-shadow: 0px 2px 4px rgba(0,0,0,.4);
	transition: all .5s ease-in-out;
}
.hideContentWrap .hideContentHeader:hover {
	cursor: pointer;
	letter-spacing: 4px;
	color: #fff845;
}
.hideContentHeader.active {
    background-color: rgba(5,187,255,0);
    text-shadow: 0px 1px 4px rgba(0,0,0,.8);
    color: #fff845;
}
.hideContentHeader.active:hover {
	letter-spacing: 3px;
}
.hideContentWrap .hideContent {
	height: 80vh;
	display: none;
	max-height: 750px;
}
.hideContentWrap .hideContent .text-box {
	background-color:rgba(255,255,255,1);
	position:absolute;
	z-index:1!important;
	bottom:0;
	margin:0 10px 10px 10px;
}
.hideContentWrap .hideContent h4 {
	/*background-color: rgba(235,4,120,1);*/
	background-color: rgba(36,52,60,.9);
	color: #FFF;
	padding: 8px 40px 4px;
	letter-spacing: 2px;
	font-size: 18px;
	display: inline-block;
}
.hideContentWrap .hideContent .text-box p {
	padding:15px 45px;
	font-size:17px;
	line-height:22px;
	font-weight: 400;
}
.indicator {
    display: inline-block;
    position: absolute;
    left: 25px;
    text-align: center;
    font-size: 30px;
    font-weight: 100;
    transition: all .5s ease-in-out;
    width: 22px; height: 22px;
    margin-right: 6px;
}
.indicator img {
	height: auto;
}
.indicator.rotate {
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
/* IE 9 */
    -webkit-transform: rotate(45deg);
/* Safari and Chrome */
}

/* Specific Slideshow Styles */ 

#photo-op a .hideContentWrap#burney {
	background-image: url("../images/photo-op/burney1.jpg");
}
#photo-op a .hideContentWrap#shasta {
	background-image: url("../images/photo-op/shasta1.jpg");
}
#photo-op a .hideContentWrap#mendocino {
	background-image: url("../images/photo-op/mendocino1.jpg");
}
#photo-op a .hideContentWrap#eureka {
	background-image: url("../images/photo-op/eureka2.jpg");
}

#kid-attractions a .hideContentWrap#great-america {
	background-image: url("../images/kid-attractions/great-america.jpg");
}
#kid-attractions a .hideContentWrap#gilroy {
	background-image: url("../images/kid-attractions/gilroy2.jpg");
}
#kid-attractions a .hideContentWrap#discov-kingdom {
	background-image: url("../images/kid-attractions/discovery-kingdom.jpg");
}
#kid-attractions a .hideContentWrap#chil-fairyland {
	background-image: url("../images/kid-attractions/fairyland.jpg");
}
#kid-attractions a .hideContentWrap#safari-west {
	background-image: url("../images/kid-attractions/safari-west.jpg");
}
#kid-attractions a .hideContentWrap#fairytale-town {
	background-image: url("../images/kid-attractions/fairytale-town.jpg");
}
#kid-attractions a .hideContentWrap#sac-zoo {
	background-image: url("../images/kid-attractions/sac-zoo.jpg");
}
#kid-attractions a .hideContentWrap#funderland {
	background-image: url("../images/kid-attractions/funderland2.jpg");
}

#eduvacation a .hideContentWrap#chabot-space {
	background-image: url("../images/eduvacation/chabot1.jpg");
}
#eduvacation a .hideContentWrap#monterey-aquarium {
	background-image: url("../images/eduvacation/monterey1.jpg");
}
#eduvacation a .hideContentWrap#academy-sciences {
	background-image: url("../images/eduvacation/academy-sciences1.jpg");
}
#eduvacation a .hideContentWrap#exploratorium {
	background-image: url("../images/eduvacation/exploratorium1.jpg");
}
#eduvacation a .hideContentWrap#tech-museum {
	background-image: url("../images/eduvacation/tech-museum1.jpg");
}
#eduvacation a .hideContentWrap#sb-natural-history {
	background-image: url("../images/eduvacation/sb-natural-history1.jpg");
}
 
#must-see-parks a .hideContentWrap#yosemite {
	background-image: url("../images/must-see-parks/yosemite1.jpg");
}
#must-see-parks a .hideContentWrap#mammoth-lakes {
	background-image: url("../images/must-see-parks/mammoth-lakes1.jpg");
}
#must-see-parks a .hideContentWrap#sequoia-kings {
	background-image: url("../images/must-see-parks/sequoia-kings1.jpg");
}
#must-see-parks a .hideContentWrap#death-valley {
	background-image: url("../images/must-see-parks/death-valley1.jpg");
}

#theme-parks a .hideContentWrap#seaworld {
	background-image: url("../images/theme-parks/seaworld1.jpg");
}
#theme-parks a .hideContentWrap#knotts-berry {
	background-image: url("../images/theme-parks/knotts-berry1.jpg");
}
#theme-parks a .hideContentWrap#magic-mountain {
	background-image: url("../images/theme-parks/magic-mountain1.jpg");
}
#theme-parks a .hideContentWrap#disneyland {
	background-image: url("../images/theme-parks/disneyland1.jpg");
}
#theme-parks a .hideContentWrap#legoland {
	background-image: url("../images/theme-parks/legoland1.jpg");
}
#theme-parks a .hideContentWrap#castle-park {
	background-image: url("../images/theme-parks/castle-park1.jpg");
}
#theme-parks a .hideContentWrap#raging-waters {
	background-image: url("../images/theme-parks/raging-waters1.jpg");
}
#theme-parks a .hideContentWrap#universal {
	background-image: url("../images/theme-parks/universal2.jpg");
}

#kid-beaches a .hideContentWrap#coronado {
	background-image: url("../images/kid-beaches/coronado1.jpg");
}
#kid-beaches a .hideContentWrap#mission-bay {
	background-image: url("../images/kid-beaches/mission-bay1.jpg");
}
#kid-beaches a .hideContentWrap#la-jolla {
	background-image: url("../images/kid-beaches/la-jolla1.jpg");
}
#kid-beaches a .hideContentWrap#carlsbad {
	background-image: url("../images/kid-beaches/carlsbad1.jpg");
}
#kid-beaches a .hideContentWrap#crystal-cove {
	background-image: url("../images/kid-beaches/crystal-cove1.jpg");
}
#kid-beaches a .hideContentWrap#santa-monica {
	background-image: url("../images/kid-beaches/santa-monica1.jpg");
}

/* Utility Styles*/
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}

/*test*/
